h2 {
    color: blueviolet;
}

.box-model {
    border: 5px solid red;
    display: inline-block;
    padding: 5px 20px;
    margin: 0 20px;
    width: 25px;
    height: 25px;
}

p {
    font-size: 20px;
    /* means make font size the containing elements */
}

span {
    font-size: 7em;
}