body {
    background-image: url('img/branch-bunch-cluster-2161935.jpg');
    background-size: cover;
    color: white;
}

h2 {
    text-align: center;
    border: 5px dashed purple;
    cursor: pointer;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    color: white;
}

img {
    float: right;
}

h2 {
    clear: both;
    text-align: center;
}


/*
*: all elements.

*/